@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .sidebar-nav-link {
    @apply flex items-center sm:px-7 px-6 text-white gap-x-3 py-4 text-base transition-colors ease-in-out duration-150;
  }
  .sidebar-badge {
    @apply bg-primary-green w-5 h-5 shrink-0 rounded-full inline-flex items-center justify-center text-xs font-medium text-primary-navy text-center;
  }
}

.tooltip {
  @apply shadow-lg z-50;
  position: fixed;
  top: calc(100% + 5px);
  left: 100%;
  width: 100%;
  transform: translateX(-100%);
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
}

.tooltip button {
  margin: 4px;
}

.tooltip button:focus {
  outline: none;
}

.tooltip button.active {
  background-color: #4f46e5;
  color: #ffffff;
}

main {
  height: calc(
    100vh - 98px
  ); /** minus topBar=66 + top and bottom padding of 1rem **/
}

canvas {
  height: calc(100vh - 234px);
}

@media (max-width: 640) {
  canvas {
    height: calc(100vh - 288px);
  }
}
