.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 2px solid #61dafb; /* Border color matches the link color */
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #000;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #282c34; /* Header background color */
  color: white; /* Header text color */
}

/* Additional styles for the link */
.App-link {
  color: #61dafb;
  text-decoration: none; /* Remove underline */
}

.App-link:hover {
  text-decoration: underline; /* Add underline on hover */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
